.about-us-introduction {
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
   
    padding-top: 0.3em;
}

.about-us-section-wrapper {
    padding-top: 1.66em;
    flex: 1 1 0;
}

.about-us-role-n-culture{
    display: flex;
    padding: 0%;
    justify-content: space-between;
    gap: 5%;
}

.about-us-description {
    font-family: 'Funnel Display';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 165%;
    letter-spacing: 0%;
}
.about-us-role-n-culture .about-us-section-wrapper {
    margin-top: 1.25em;
    padding: 1.7em 1.8em;
    border-radius: 1.2em;
}

.about-us-role-n-culture .about-us-section-wrapper:first-child {
    background-color: #F2C14E;
    color: #BF681B;
}
.about-us-role-n-culture .about-us-section-wrapper:first-child .heading-text{
    color: #BF681B;
}

.about-us-role-n-culture .about-us-section-wrapper:last-child {
    background-color: #BF681B;
    color: #F2C14E;
}

.about-us-role-n-culture .about-us-section-wrapper:last-child .heading-text{
    color: #F2C14E;
}

.gallery-column img {
    background: url("/assets/image_placeholder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.highlights-section {
    margin-top: 1.66em
}

.highlights-heading {
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 50px;
    color: #C9A227;
}

.highlights-description {
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 33px;
    /* color: #222222; */
}

.questions-set {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 1.66em;
    justify-content: space-around; 
    flex-flow: row wrap;
}

.question-items {
    font-family: 'Funnel Display';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
    /* color: #FFDD61; */
    color: #305d60;
    margin-top: .75em;
    margin-right: .2em;
    margin-left: .2em;
}

.question-description {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: .45em;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: right;
}

.question-items-special {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
    color: #305d60;
    margin-top: .75em;
    text-align: center;
    margin-bottom: .74em;
}

.question-description-special {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: .9em;
    line-height: 1.25em;
    color: #FFFFFF;
    text-align: center;
}

.website-link{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 2.25em;
}
.website-link .site-cta-button{
    scale: 1.4;
    font-family: 'Funnel Display';
    font-weight: bold;
    background: #F2C14E;
    color: #BF681B;
    border: none;
    border-radius: 9px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    font-size: 0.67rem;
    user-select: none;
}
.website-link .site-cta-button:hover {
  transition: 0.25s;
  background: #BF681B;
  box-shadow: 0px 0px 32px rgba(58, 38, 38, 0.2);
  border-radius: 12px;
  color: #F2C14E;

}

@media screen and (max-width: 600px) {
    .questions-set {
        margin: 0 auto;
        margin-top: 1em;
    }

    .question-items {
        font-size: 1.33em;
        display: block;
        margin: 0 auto;
        margin-top: .75em;
    }

    .question-term{
        float: left;
    }

    .question-description {
        font-size: .60em;
        float: left;
        margin-top: .35em;
        margin-left: .1em;
    }

    .question-items-special {
        font-size: 1.33em;
    }

    .question-description-special {
        font-size: .8em;
    }
}

@media screen and (max-width: 450px) {
    .question-items {
        font-size: 1em;
        display: block;
        margin: 0 auto;
        margin-top: 1em;
    }

    .question-term{
        float: left;
    }

    .question-description {
        font-size: .45em;
        float: left;
        margin-top: .60em;
        margin-left: .1em;
    }

    .question-items-special {
        font-size: 1em;
    }

    .question-description-special {
        margin-top: 1em;
        font-size: .6em;
    }
    .about-us-description{
        font-size: 0.7em;
    }
    .about-us-introduction{
        font-size: 0.7em;
    }
    .highlights-description{
        font-size: 0.8em;
    }
    .highlights-heading{
        font-size: 1.75em;
    }
}