* {
  margin: 0;
  padding: 0;
}

/* Default CSS */
:root {
  font-size: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1C213A;
  width: 100%;
  color:#ffffff;
  overflow-x:scroll;

}

main {
  flex-grow: 1;
  flex-shrink: 0;
}

nav {
  height: 1em;
  min-height: 4.5em;
  padding: auto 0;
  background-color: #1C213A !important;
  
}

.site-container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  z-index: 3;

}

.site-container-about {
  max-width: 1200px;
  margin: 0 auto;
}

.site-navbar-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.1em;
}

.site-home-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  user-select: none;
}

.site-logo {
  display: inline-block;
  width: 2.25em;
}

.site-logo-text {
  font-family: 'adonais';
  font-weight: 400;
  font-size: 0.75em;
  line-height: 1rem;
  margin-left: 1em;
  color: #FFDD61;
}

.navlinks-horizontal {
  display: grid;
  grid-column-gap: 2.1em;
  grid-auto-flow: column;
  color:#ffffff;
}

.navlink {
  font-family: 'adonais';
  font-size: 0.675em;
  line-height: 0.67rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
}

.navlink[selected="True"] {
   font-weight: 900;
  color: #C9A227;
}
.navlink[selected="True"]:hover {
  font-weight: 900;
  color: #C9A227;
}

.navlink:hover {
  transition-duration: 0.3s;
  color: #C9A227;
}

#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.site-cta-button {
  font-family: 'Funnel Display';
  font-weight: bold;
  background: #C9A227;
  color: #13181C;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.67rem;
  user-select: none;
  border-radius: 2px;
}

.site-cta-button:hover {
  transition: 0.25s;
  background: #EAE2D7;
  box-shadow: 0px 0px 32px rgba(58, 38, 38, 0.2);
  border-radius: 2px;
  color: #254F73;

}

.site-cta-button:active {
  border: none;
}

.site-ghost-button {
  border: 1px solid #293b52;
  background: none;
  color: #293b52;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.67rem;
  user-select: none;
}

.site-ghost-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}

.site-ghost-button:active {
  border: none;
}

footer {
  background-color: #1C213A;
  z-index: 0;
  width: 100%;
  position: relative;
}

.footer-content {
  display: flex;
  gap: 2em;
  padding: 2em 0;
  align-items: flex-start;
}

.footer-column-decoration {
  flex-shrink: 0;
  width: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  padding: 0 1em;
}

.footer-column-image {
  width: 100%;
  height: auto;
  max-width: 100px;
}

.footer-main {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.footer-decoration {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  background-color: #1C213A;
  height: 50px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.footer-decoration-image {
  width: 100%;
  height: 50px;
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

.site-footer-wrapper {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  font-family : Inter;
  position:absolute;
  z-index:3;
}

.site-footer-wrapper .navlink {
  color: #C9A227 !important;
}

.sociallinks {
  display: grid;
  grid-column-gap: 0.5em;
  grid-auto-flow: column;
  color: #C9A227;
}

.sociallink {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sociallink:hover{
  transition-duration: 0.3s;
  color: #F83048
}
.sociallink img {
  width: 0.5em;
}

.sociallink img[src="/assets/social_icons/fb.svg"] {
  width: 0.4em;
}

.sociallink img[src="/assets/social_icons/website.svg"] {
  width: 0.8em;
}


/* Pages related CSS */

.page-heading-background {
  padding: 2em 1em 1em 1em;
  max-width: 1200px;
  margin: 0 auto;
  /* height: 7.5em; */
  /* background: #EDEEF5; */
  /* background: url("/assets/aboutusbanner.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.page-heading {
  position: relative;
  display: inline-block;
  font-family: 'adonais', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #EDEEF5;
  user-select: none;
}

.heading-background-box {
  /* background: #13181C; */
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  bottom: -5%;
  z-index: 1;
}

.heading-text {
  font-family: 'adonais', sans-serif;
  color: #C9A227;
  position: relative;
  z-index: 2;
   /* color: #FFDD61; */
   /* font-family:'batmfa' ,Inter */

  
}

.page-title {
  position: relative;
  display: inline-block;
  font-family: "fredoka", sans-serif;
  font-weight: bold;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #EDEEF5;
  user-select: none;
}

.page-subtitle {
  font-family: 'Funnel Display';
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.375rem;
  color: #878787;
  user-select: none;
  margin-top: 2px;
}

.process-description-box {
  background: #305D60;
  padding: 1.25em 2em;
  margin-bottom: 2em;
}

.process-description-content {
}

.process-description-heading {
  font-family: 'Funnel Display';
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4rem;
  color: #FFFFFF;
  align-self: center;
}

.process-description-text {
  font-family: 'Funnel Display';
  margin-top: 1.55em;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1.1rem;
  color: #FFFFFF;
}

.process-choice {
  display: grid;
}

.process-choice-action-link {
  text-decoration: none;
  color: inherit;
}

.process-choice-actions-text {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  top: 2px;
}

.process-description-box:nth-child(1) {
  margin-top: 1.4em;
}

.process-choices-description {
  padding: 2em 2em;
}

.process-choices-description .process-description-header {
  display: flex;
  justify-content: space-between;
}

.process-choices-description .process-choices {
  display: grid;
  grid-auto-flow: column;
}

.process-choices-description .process-choices .process-choice:nth-child(1) {
  margin-right: 1.25em;
}

.process-choices-description .process-choices .process-choice:nth-child(3) {
  margin-left: 1.25em;
}

.process-choices-description .process-choice-heading {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.83em;
  line-height: 1.4rem;
  color: #FFFFFF;
  margin-top: 1.25em;
}

.process-choices-description .process-choice-text {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 0.96rem;
  color: #666666;
  margin-top: 0.7em;
  margin-bottom: 1.4em;
}

.process-choices-description .process-choice-or {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.75em;
  line-height: 1rem;
  text-align: center;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.process-choices-description .process-choice-or span {
  padding: 1.55em 0;
}

.process-choices-description .process-choice-or div {
  flex-grow: 1;
  width: 1px;
  background: #a4a4a4;
}

.process-choices-description .process-choice-actions {
  font-family: 'Funnel Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.67em;
  line-height: 1rem;
  color: #000000;	
  margin-top: 1em;
}

.download-icon {
  width: 1em;
  vertical-align: middle;
  margin-right: 0.6em;
  color: #FFFFFF;
}

.made-with-heart{
	font-family: 'Funnel Display';
	font-size: 0.7em;
  color : #C9A227;
  white-space: nowrap;
}

@media screen and (max-width: 450px) {
  .page-title {
    font-size: 1.5rem;
    line-height: 55px;
    letter-spacing: 0em;
  }
  .page-heading {
    font-size: 1.5em;
  }

	.site-footer-wrapper{
		flex-direction: column;
		gap:15px;
	}
}

@font-face {

  font-family: 'fredoka' ;
  src: url('../assets/Fredoka.ttf') format('truetype');

}

/* @font-face {
	font-family: 'adonais';
	src: url('../assets/batmanforever.ttf') format('truetype');
} */

@font-face {

  font-family: 'DMSans' ;
  src: url('../assets/DMSans.ttf') format('truetype');

}

/* @font-face {
	font-family: 'Funnel Display';
	src: url(../assets/space_grotesk.ttf) format('truetype');
} */

/* @font-face {

  font-family: 'batmfa' ;
  src: url('../assets/batmfa.ttf') format('truetype');

} */

.audio-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #FFDD61;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.audio-button img {
  width: 30px;
  height: 30px;
}
