.home {
  margin-top: 0em;

}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "design illustration"
    "development illustration";
  min-height: 25em;
  grid-column-gap: 4em;
}

.illustration-container {
  grid-area: illustration;
}

.design-information-container {
  grid-area: design;
  align-self: center;
}

.development-information-container {
  grid-area: development;
  align-self: center;
}

.coloured-container {

}

.illustration-container {
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1C213A;
  height: 95%;
  margin-top: 0%;
  padding: 0 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-container-image {
  width: 120%;
  height: auto;
}

.main-page-heading {
  position: relative;
  display: inline-block;
  font-family: "Funnel Display", sans-serif;
  font-weight: normal;
  font-weight: 600;
  font-size: 1.65em;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #F2C011;
  user-select: none;
}

.heading-background-box {
  background: #1C213A;
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  bottom: -5%;
  z-index: 1;
}

.heading-background-box-coloured {
 /* // background: #EDEEF5; */
  position: absolute;
  width: 85%;
  height: 65%;
  left: 30%;
  bottom: 35%;
  z-index: 1;
}

.heading-text {
  position: relative;
  z-index: 2;
  color: #f2c011;
}

.heading-information {
  font-family: 'Inter';
  font-weight: normal;
  font-size: 0.75em;
  line-height: 165%;
  color: #FFFFFF;
  margin-top: 0.7em;
  margin-bottom: 1.25em;
}

.heading-information-coloured {
  font-family: Nunito Sans;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1.1rem;
  color: #F2F2F2;
  margin-top: 0.7em;
  margin-bottom: 1.25em;
}

.timeline-heading {
  margin-bottom: 1.5em;
}

.timeline-container {
  margin-top: 4.8em;
}

.why-img-section {
  margin-top: 6.5em;
}

.why-img-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "content illustration";
  grid-column-gap: 1.7em;
}

.why-img-content {
  align-self: center;
  grid-area: content;
}

.why-img-illustration {
  grid-area: illustration;
  align-self: center;
}

.why-img-text {
  font-family: Inter;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.1rem;
 
  margin-top: 1em;
  margin-bottom: 1.625em;
}

.updates-section {
  margin-top: 5em;
}

.updates-wrapper {
  text-align: center;
}

.updates {
  margin-top: 1.5em;
  margin-bottom: 4.8em;
}

.update-item {
  width: 75%;
  padding: 0.75em 1.67em;
  margin: 0 auto;
}

.update-item:nth-child(odd) {
  background: #262E51;
}

.update-item:nth-child(even) {
  background: #363F6D;
}

.update-time {
  font-family: Inter;
  font-weight: bold;
  font-size: 0.67em;
  line-height: 0.75rem;
  color: #f2c011;
}

.update-item:hover{
  cursor: default;
  text-decoration: underline;
  text-decoration-color:#f2c011 ;
}

.update-text {
  font-family: Inter;
  font-weight: normal;
  font-size: 0.67em;
  line-height: 1rem;
  color: #ffffff;
  margin-top: 0.5em;
}

.text-link{
  text-decoration: none;
  color:#f55254;
}

.bottom-batman-wrapper{
	align-self: flex-end;
	justify-self: flex-end;	
	margin-top: -1360px;
	z-index:1;
}

@media screen and (max-width: 600px) {
  .heading-background-box {
    left: -5%;
  }
  .main-page-heading {
    font-size: 1em;
    line-height: 55px;
    letter-spacing: 0em;
  }

  .bottom-batman-wrapper{
	display: none;
  }

  .heading-information {
    font-size: 0.5em;
  }

  .update-text {
    font-size: 0.64em;
  }
  .update-time {
    font-size: 0.64em;
  }
  .why-img-text {
    font-size: 0.64em;
  }
}
@media screen and (max-width:1000px){
  .bottom-batman-wrapper{
    display:none;
  }
}

@font-face {

  font-family: 'fredoka' ;
  src: url('../assets/Fredoka.ttf') format('truetype');

}

@font-face {

  font-family: 'DMSans' ;
  src: url('../assets/DMSans.ttf') format('truetype');

}

.bottom-right{
  
   position:fixed; 
  bottom:0;
  right:0;
  height:20rem;
    z-index: 1000;
}

.home .footer-decoration {
  width: 100vw;
  overflow: hidden;
  background-color: #1C213A;
  margin: 0;
  padding: 0;
  line-height: 0;
  height: 50px !important;
}

.home .footer-decoration-image {
  width: 100%;
  height: 50px;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}
