.middle-line {
  display: flex;
  width: 100%;
  height: 4px;
}

.middle-line .compeleted {
  width: 5%;
  background: #55BCBF;
}

.middle-line .left {
  background: #dddddd;
  width: 85.4%;
}

.upper-events {
  display: grid;
  grid-template-columns: 1.8fr 1.8fr 1.8fr;
}

.upper-event {
  display: flex;
  align-items: center;
}

.lower-events {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  margin-left: 4em;
}

.lower-event {
  display: flex;
  align-items: center;
}

.lower-event[event="1"] {
  display: flex;
  justify-content: center;
}

.upper-event[event="2"] {
  display: flex;
  justify-content: center;
}

.lower-event[event="3"] {
  display: flex;
  justify-content: flex-end;
}

.upper-event[event="4"] {
  display: flex;
  justify-content: center;
}

.lower-event[event="5"] {
  display: flex;
  justify-content: flex-end;
}

.event-illustration {
  align-self: flex-end;
  position: relative;
}

.event-illustration img {
  position: relative;
  left: calc(-50% + 4px);
  width: 2.875em;
  height: 4em;
}

.event-description {
  margin-left: -0.75em; /*According to the size of icons provided*/
}

.event-heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  
}

.event-date {
  font-family: Inter;
  font-weight: normal;
  font-size: 0.65rem;
  line-height: 1rem;
  
}
